---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "PontiX - Bridge currency exchange",
    description:
      "Dapp that serves as a bridge for the exchange of cryptocurrencies such as XRP, ETH, BSC, SOLANA, AVAX, among others",
    link: "https://onramp.pontix.io/",
    image: "/projects/pontix.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Non Fungible - Non Fungible NFT Viewer",
    description:
      "Non Fungible (NF) is a Xaman xApp to manage and interact with all aspects of XRP Ledger NFTs issued via the XLS-20 standard, regardless of issuer or marketplace.",
    link: "https://nftltd.im/",
    image: "/projects/non-fungible.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "p2pbet - Friendly peer-to-peer bets on the XRPL",
    description:
      "Xaman Interactive xApp for betting, peer to peer on the XRPL blockchain",
    link: "https://xumm.app/detect/xapp:rnr.p2p",
    image: "/projects/p2pbet.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "CasinoCoin Lobby ",
    description:
      "Xapp where users can join regulated gambling sites, almost instant deposits and withdrawals and exclusive offers.",
    link: "https://casinocoin.im/getting-started/",
    image: "/projects/casinocoin.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



